### 1) which expression evaluates to 4?

In [2]:
7-2*3

1

In [3]:
7//2-3

0

In [4]:
7/2*3

10.5

In [5]:
7%2+3

4

### 3) Consider the code
x=3
x += 1
Which line should be inserted at line 1 so output will be 16

In [6]:
x=3 
x += 1

In [7]:
x

4

In [8]:
x**=2

In [9]:
x

16

In [10]:
x*=2

In [11]:
x

32

### 4) Consider the following code
print(type(input("Enter some value:")))
If we enter 10 and 10.0 individually for every run what is the outpu?

In [12]:
print(type(input("Enter some value:")))

Enter some value:10
<class 'str'>

In [13]:
print(type(input("Enter some value:")))

Enter some value:10.0
<class 'str'>

### 5)consider a python code
a=['a','b','c','d']
for i in a:
    a.append(i.upper()):
print(a)

In [15]:
a=['a','b','c','d']
for i in a:
    a.append(i.upper())
print(a)

KeyboardInterrupt

### 6) Consider the variable declarations
a='5'
b='2'
which of the following expressions are of type str

In [17]:
a='5'
b='2'

In [19]:
type(a)

str

In [20]:
type(b)

str

In [21]:
a*b

TypeError: can't multiply sequence by non-int of type 'str'

In [22]:
a*2

'55'

In [23]:
a+b

'52'

### 7) Consider the code
a=7
b=3
c=5
d=1
Which line of the code assigns 9 to the output?

In [24]:
a=7
b=3
c=5
d=1

In [25]:
output=a%c+1

In [26]:
output

3

In [27]:
output=a+d*2

In [28]:
output

9

In [29]:
output=a+c//d

In [30]:
output

12

In [31]:
output=c*d-1

In [32]:
output

4

### 8) Consider the following expressions:
6//4%5+2**3-2//3
this expression results to:

In [33]:
6//4%5+2**3-2//3

9

### 9) x='TEXT'
which line of the code assigns TT to the output?

In [34]:
x='TEXT'

In [36]:
x[0]+x[3]

'TT'

In [37]:
output=x[0]+x[3]

In [38]:
output

'TT'

In [39]:
output=x[0]+x[-1]

In [40]:
output

'TT'

### 10) consider the python code
print(10==10 and 20!=20)
print(10==10 or 20!=20)
print(not 10==10)

In [41]:
print(10==10 and 20!=20)
print(10==10 or 20!=20)
print(not 10==10)

False
True
False

### 11) Consider the code
a=float('123.456')
Which expression evaluates 2?

In [42]:
a=float('123.456')

In [43]:
bool(a)

True

In [44]:
bool(a)+True

2

### 12) COnsider the python code
distance=xxx(input("Enter the distance travelled in feet:"))
distance_miles=distance/5280
time=yyy(input("Enter the time elapsed in seconds:"))
time_hours=time/3600
velocity=distance_miles/time_hours
print("average velocity:",velocity,"miles/hr")

In [47]:
distance=float(input("Enter the distance travelled in feet:"))
distance_miles=distance/5280
time=float(input("Enter the time elapsed in seconds:"))
time_hours=time/3600
velocity=distance_miles/time_hours
print("average velocity:",velocity,"miles/hr")

Enter the distance travelled in feet:360
Enter the time elapsed in seconds:420
average velocity: 0.5844155844155844 miles/hr

### 13) The XYZ company hires u as an intern on the coding team that creates an e-commerce application.
You must write a script that asks user a value.That value must be used as a whole number for calculation,
even if the user enters a decimal value.

In [48]:
total_items=input("How many items you required?")

How many items you required?2

In [49]:
total_items=int(float(input("How many items you required?")))

How many items you required?2.5

### 14)In which of the following cases True will be printed to the console
print('r' in 'durga')

In [51]:
print('r' in 'durga')

True

In [52]:
a=45
b=45
print(a is not b)

False

In [53]:
s1='The Python course'
s2='The Python course'.upper()
print(s1 is s2)

False

In [54]:
print('is' in 'This IS a Fake News')

True

In [56]:
x=[1,2,3]
y=[1,2,3]
print(x is y)

False

### 15) Consider the python code
x=2
y=6
x+=2**3
x//=y//2//3
print(x)

In [58]:
x=2
y=6
x+=2**3
x//=y//2//3
print(x)

10

### 16) If the user enters 12345 as input, which of the following code will print 12346 to the console?

In [59]:
count=int(input("enter the value:"))
print(count+1)

enter the value:12345
12346

In [60]:
count=eval(input("enter the value"))
print(count+1)

enter the value23456
23457

### 17) COnsider the code
t=([10,20],10,False)
which of the line code assigns <class 'list' to 'x'

In [61]:
t=([10,20],10,False)

In [62]:
type(t)

tuple

In [64]:
t[0]

[10, 20]

In [66]:
x=type(t[0])

In [67]:
x

list

### 18)Which expression evaluates to 2?

In [68]:
11//2

5

In [69]:
22%5

2

In [70]:
13//4

3

In [71]:
3**2

9

### 19) Consider the code
x=3/3+3**3-3
What is the output?

In [73]:
x=3/3+3**3-3

In [74]:
x

25.0

### 20) Consider the python code
result=str(bool(1) + float(10/float(2)))
print(result)

In [75]:
result=str(bool(1) + float(10)/float(2))

In [76]:
result

'6.0'

### 21)nYou developed a python application for your company. You required to accept input from the user and
print that information to the user screen
Consider the code:
    print("Enter your name:")
    //line 1
    print(name)
    at line 1 which code we have to write?

In [79]:
print("Enter your name:")
name=input
print(name)

Enter your name:
<bound method Kernel.raw_input of <ipykernel.ipkernel.IPythonKernel object at 0x000001E94FE52E80>>

In [80]:
print("Enter your name:")
name=input()
print(name)

Enter your name:
mayuri
mayuri

### 22) Consider the code
print(not 0)
print(not 10)
print(not '')
print(not 'durga')
print(not None)

In [82]:
print(not 0)
print(not 10)
print(not '')
print(not 'durga')
print(not None)

True
False
True
False
True

### 23)Consider the python code
l1=['sunny','bunny','chinny','vinny']
l2=['sunny','bunny','chinny','vinny']
print(l1 is not l2)
print(l1 != l2)
l1=l2
print(l1 is not l2)
print(l1 != l2)

In [83]:
l1=['sunny','bunny','chinny','vinny']
l2=['sunny','bunny','chinny','vinny']
print(l1 is not l2)
print(l1 != l2)
l1=l2
print(l1 is not l2)
print(l1 != l2)

True
False
False
False

### 24) In which of the following cases we will get <class 'int>' as output?

In [84]:
x=2**2**2
print(type(x))

<class 'int'>

In [85]:
x

16

In [86]:
x='47'
print(type(x))

<class 'str'>

### 25) Consider the code
s='DURGA SOFT'
which of the following lines will assign 9 to variable result?

In [87]:
s='DURGA SOFT'

In [89]:
result=len(s)

In [90]:
result

10

In [91]:
result=len(s.replace(' ',''))

In [92]:
result

9

### 26) Consider the variable declaration
b= 'BANANA'
which of the following lines will print AA to the console?

In [93]:
b= 'BANANA'

In [94]:
b

'BANANA'

In [95]:
type(b)

str

In [96]:
res=b[1]+b[-1]

In [97]:
res

'AA'

In [98]:
res1=b[3]+b[-1]

In [99]:
res1

'AA'

### 27)Consider the python code
l1=['sunny','bunny','chinny','vinny']
l2=['sunny','bunny','chinny','vinny']
print(l1 is  l2)
print(l1 == l2)
l1=l2
print(l1 is l2)
print(l1 == l2)

In [100]:
l1=['sunny','bunny','chinny','vinny']
l2=['sunny','bunny','chinny','vinny']
print(l1 is  l2)
print(l1 == l2)
l1=l2
print(l1 is l2)
print(l1 == l2)

False
True
True
True

In [101]:
### 28) Consider the following code
v1=1
v2=0
v1=v1 ^ v2
v2=v1 ^ v2
v1=v1 ^ v2
print(v1)

0

### 28) Consider the code
count=input("Enter the number of customers of the bank")
#line 1
print(output)
which code inserted at line 1 will print 20 to the console if we pass 15 as count value from the console

In [102]:
count=input("Enter the number of customers of the bank")
output=int(count)+5
print(output)

Enter the number of customers of the bank15
20

### 29) consider the code
x='10'
y='20'
the type of x+y?

In [103]:
x='10'
y='20'

In [104]:
x+y

'1020'

In [105]:
type(x+y)

str

### 30) which of the following string declarations spans more than one line and considers white space properly
when the string is printed to the console?

In [106]:
s1='Bharat\n
        software\n
        solutions'

SyntaxError: EOL while scanning string literal (1702300952.py, line 1)

In [107]:
s1=""Bharat
        software
        solutions""

SyntaxError: invalid syntax (2564146465.py, line 1)

In [108]:
s1='Bharat
        software
        solutions'

SyntaxError: EOL while scanning string literal (3393361842.py, line 1)

In [110]:
s1="'Bharat
        software
        solutions"'

SyntaxError: EOL while scanning string literal (1512164416.py, line 1)

### 31) Consider the code
lst=[7,8,9]
b=lst[:]
print(b is lst)
print(b==lst)

In [111]:
lst=[7,8,9]
b=lst[:]
print(b is lst)
print(b==lst)

False
True

In [112]:
b

[7, 8, 9]

### 32) We are developing an app in which students provide a colleg name and city as an input. 
If the students provide college name as BHARATSOFT and city as Pune, then our application has to provide following greeting 
message.
Welcome to BHARATSOFT in Pune

In [ ]:
coll_name=input("enter the college name:")
city=input("Enter the city:")
print('Welcome to' +str(coll_name)+ 'in' +str(city))

In [17]:
coll_name=input("enter the college name:")
city=input("Enter the city:")
print('Welcome to ' +str(coll_name)+ ' in ' +str(city))

enter the college name:BHARATSOFT
Enter the city:Pune
Welcome to BHARATSOFT in Pune

In [ ]:
coll_name=input("enter the college name:")
city=input("Enter the city:")
print('Welcome to {} in {} '.format(coll_name,city))

In [23]:
coll_name=input("enter the college name:")
city=input("Enter the city:")
print('Welcome to {} in {} '.format(coll_name,city))

enter the college name:BHARATSOFT
Enter the city:Pune
Welcome to BHARATSOFT in Pune